<%= form_with model:@product do |f| %>
  <% if f.object.errors.any? %>
    <p class="rounded-full p-3 bg-green-500"><%= f.object.errors.full_messages.first %></p>
  <% end %>
  <div>
    商品名称:
    <%= f.text_field :name, class: "border border-yellow-500 px-5 rounded-full" %>
  </div>

  <div>
    <%= f.submit "保存", class: "cursor-pointer rounded-full px-3 py-1 bg-yellow-500" %>
  </div>
<% end %>
