<% if authenticated? %>
  <%= form_with url: product_wishlist_path(product) do |form| %>
    <div>
      <%= form.collection_select :wishlist_id, Current.user.wishlists, :id, :name %>
    </div>

    <div>
      <%= form.submit "加入心愿单" %>
    </div>
  <% end %>
<% else %>
  <%= link_to "心愿单", new_session_path %>
<% end %>
